@model HotelManager.Web.Areas.ViewModel.UserViewModel
@{
    ViewBag.Title = "_Action";
}

<div class="modal-header">
   
    <h5 class="modal-title" id="exampleModalLabel">更新使用者</h5>
    
    

    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <form id="SaveForm">
        <input type="hidden" id="Id" name="Id" value="@Model.Id">
        <div class="mb-3">
            @Html.LabelFor(n => n.FullName, new { @class = "col-form-label" })
            @Html.TextBoxFor(n => n.FullName, new { @class = "form-control" })

        </div>
        <div class="mb-3">
            @Html.LabelFor(n => n.Email, new { @class = "col-form-label" })
            @Html.TextBoxFor(u => u.Email, new { @class = "form-control" })
        </div>
        <div class="mb-3">
            @Html.LabelFor(u => u.UserName,new { @class ="col-form-label" })
            @Html.TextBoxFor(u => u.UserName, new { @class ="form-control" })
        </div>
        <div class="mb-3">
            @Html.LabelFor(c => c.Country, new { @class = "col-form-label" })
            @Html.TextBoxFor(c => c.Country , new { @class ="form-control" })

        </div>
        <div class="mb-3">
            @Html.LabelFor(ci => ci.City , new { @class = "col-form-label" })
            @Html.TextBoxFor(ci => ci.City , new { @class = "form-control" })
        </div>
        <div class="mb-3">
            @Html.LabelFor( a => a.Address,new { @class= "col-form-label" } )
            @Html.TextBoxFor(a => a.Address ,new  { @class="form-control"})
        </div>
       
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
    <button type="button" id="SaveBtn-btn" class="btn btn-primary">儲存</button>
</div>

