@model HotelManager.Web.Areas.ViewModel.AccomdationTypeActionModel


<div class="modal-header">
    @if (Model.Id > 0)
    {
        <h5 class="modal-title" id="exampleModalLabel">更新分類</h5>     
    }
    else
    {
        <h5 class="modal-title" id="exampleModalLabel">新增分類</h5>
    }
    
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <form id="SaveForm">
        <input type="hidden" id="Id" name="Id" value="@Model.Id">
        <div class="mb-3">
            @Html.LabelFor(n => n.Name, new { @class = "col-form-label" })
            @Html.TextBoxFor(n => n.Name,new { @class= "form-control" })
           
        </div>
        <div class="mb-3">
            @Html.LabelFor(n => n.Description,new { @class= "col-form-label" })
            @Html.TextAreaFor(d => d.Description,new { @class= "form-control" })
           
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
    <button type="button" id="SaveBtn-btn" class="btn btn-primary">儲存</button>
</div>

<script>
    $("#SaveBtn-btn").click(function (respone) {
        $.ajax({
            url: "@Url.Action("Action", "AccomodationTypes")",
            type: "post",
            data: $("#SaveForm").serialize(),
        }).done(function (respone) {
            debugger;
            if (respone.Success) {
                debugger;
                location.reload();
            } else {
                debugger;
            }
        })
    })
</script>

